main {
  .top-main {
    display: grid;
    grid-template-columns: 50% 50%;
    .top-main-l {
      background: white;
      .top-main-l-cont {
        margin: 15px;
        border: 1px dashed $brown;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
          margin: 30px auto;
          font-size: 2rem;
          line-height: 15px;
          .p2 {
            font-size: 1.1rem;
            color: $black;
          }
        }
        p {
          margin: 20px auto;
          color: $black;
          font-family: roboto;
          line-height: 23px;
        }
      }
    }
    .top-main-r {
      background: url(../img/store-01.jpg) center/cover;
    }
  }
}
