main {
  background: rgb(40, 40, 40);
  .top-main {
    display: grid;
    grid-template-columns: 50% 50%;
    .top-main-l {
      background: white;
      .top-main-l-cont {
        margin: 15px;
        border: 1px dashed $brown;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
          margin: 50px auto 30px;
          font-size: 2rem;
          line-height: 15px;
          .p2 {
            font-size: 1.1rem;
            color: $black;
          }
        }
        p {
          margin: 20px auto;
          color: $black;
          line-height: 23px;
        }
        .pic {
          margin: 20px auto;
          width: 70px;
        }
        .t1,
        .t2 {
          font-weight: 600;
        }
        .t1 {
          letter-spacing: 1px;
        }
        .t2 {
          font-size: 0.8rem;
          color: $grey;
          text-transform: uppercase;
          margin: 5px auto 30px;
        }
      }
    }
    .top-main-r {
      background: url(../img/store-01.jpg) center/cover;
    }
  }
  .mid-main {
    background: url(../img/bg-menu-01.jpg) no-repeat;
    background-position-y: bottom;
    h2 {
      font-size: 2rem;
      margin: 50px auto 40px;
    }
    .mid-main-menu {
      margin: 0 auto;
      max-width: 50%;
      height: 1000px;
      nav {
        height: 90px;
        ul {
          height: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          li {
            padding-bottom: 8px;
            color: $white;
            border-bottom: 1px solid $white;
          }
        }
      }
      .mid-main-menu-cont {
        border-top: 5px solid $brown;
        background: $white;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(4, 1fr);
        div {
          display: grid;
          grid-template-columns: 30% 60% 10%;
          align-items: center;
          margin: 20px;
          height: 150px;
          border-bottom: 1px dashed $grey;
          p {
            text-align: left;
            line-height: 25px;
            .dish-name {
              font-weight: 1000;
              font-size: 0.9rem;
              text-transform: uppercase;
            }
          }
          .price {
            font-weight: 900;
            color: $brown;
          }
        }
      }
    }
  }
  .bot-main {
    margin: 0 auto;
    max-width: 65%;
    overflow: auto;
    .bot-main-booking {
      margin: 60px auto;
      display: grid;
      grid-template-columns: 30% 70%;
      .bot-main-booking-l {
        color: $white;
        background: black;
        div {
          margin: 20px;
          border: 1px dashed $white;
          display: flex;
          flex-direction: column;
          align-items: center;
          h2 {
            margin: 25px auto;
            line-height: 20px;
            .p1 {
              font-size: 2.5rem;
              text-transform: none;
              @include title-p1;
            }
            .p2 {
              @include title-p2;
              letter-spacing: 1px;
            }
          }
          img {
            margin: 10px auto;
          }
          span {
            text-transform: uppercase;
            color: $brown;
            font-weight: 800;
            margin: 30px auto;
            font-size: 1.2rem;
          }
          p {
            width: 80%;
          }
        }
      }
      .bot-main-booking-r {
        color: $black;
        background: $white;
        display: flex;
        div {
          width: 80%;
          height: 80%;
          margin: auto;
          h2 {
            margin: 20px auto;
            line-height: 30px;
            .p1 {
              font-size: 2.5rem;
            }
            .p2 {
              font-size: 1.7rem;
              letter-spacing: 1px;
              color: $black;
            }
          }
          img {
            margin: 20px auto;
          }
          form {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 100px;
            align-items: center;
            gap: 20px;
            input,
            select,
            option {
              font-weight: 600;
              color: rgb(119, 119, 119);
              text-align: left;
              outline: none;
              height: 50px;
              background: none;
              border: none;
              border-bottom: 1px solid $grey;
            }
            #submit {
              letter-spacing: 5px;
              font-weight: 800;
              text-transform: uppercase;
              text-align: center;
              color: $white;
              background: $black;
              border: 1px solid $black;
              border-radius: 50px;
              grid-column: 2;
              grid-row: 3;
              cursor: pointer;
              transition: 0.2s;
              &:hover {
                transform: translateX(5px);
                box-shadow: 1px 1px 7px 0px #21201e9c;
              }
            }
          }
        }
      }
    }
    h2 {
      margin: 30px auto 10px;
      line-height: 32px;
      .p1 {
        font-size: 2.2rem;
      }
      .p2 {
        letter-spacing: 2px;
        font-size: 1.7rem;
      }
    }
    img {
      margin: 20px auto;
    }
    .bot-main-event {
      margin: 0 auto 50px;
      display: grid;
      grid-template-columns: calc(60% - 20px) 40%;
      grid-template-rows: 1fr 1fr;
      gap: 20px;
      .bot-main-event-1 {
        display: grid;
        grid-template-columns: 40% 60%;
        background: $white;
        .bot-main-event-1-l {
          background: url(../img/event-01.jpg) center/cover no-repeat;
          div {
            color: $white;
            background: $black;
            height: 100px;
            width: 100px;
            margin: 70px auto;
            .part1 {
              font-weight: 1000;
              font-size: 2rem;
            }
          }
        }
      }
      .bot-main-event-2 {
        grid-row: 2;
        background: $white;
      }
      .bot-main-event-3 {
        grid-column: 2;
        background: $white;
      }
    }
  }
}
