@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$brown: #a67245;
$white: #eee;
$grey: #b6b6b6;
$black: #21201e;

@mixin title-p1 {
  font-weight: 100;
  font-family: Allura;
  color: $brown;
}
@mixin title-p2 {
  text-transform: uppercase;
  font-family: poppins;
  color: $white;
}

body {
  background: grey;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-family: roboto;
}

.p1 {
  @include title-p1;
}
.p2 {
  @include title-p2;
}
.pic {
  border-radius: 150px;
}
