@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  background: grey;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-family: roboto;
}

.p1 {
  font-weight: 100;
  font-family: Allura;
  color: #a67245;
}

.p2 {
  text-transform: uppercase;
  font-family: poppins;
  color: #eee;
}

.pic {
  border-radius: 150px;
}

header {
  background: url(../img/bg-slider-06.jpg) center/cover;
  height: 100vh;
  color: #eee;
}
header nav {
  margin: 0 auto;
  width: 80%;
  height: 70px;
}
header nav ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
header nav ul li {
  width: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-family: poppins;
}
header nav ul li:first-child {
  font-weight: 100;
  font-family: Allura;
  color: #a67245;
  text-transform: none;
  font-size: 3rem;
  color: #eee;
  font-weight: 800;
}
header nav ul li i {
  width: 100%;
}
header .header-cont {
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
header .header-cont h1 {
  font-size: 4rem;
  line-height: 45px;
}
header .header-cont h1 .p2 {
  letter-spacing: 15px;
}
header .header-cont img {
  margin: 70px auto 40px;
}
header .header-cont p {
  letter-spacing: 8px;
  font-weight: 100;
  font-size: 1rem;
  font-family: roboto;
  text-transform: uppercase;
}

main {
  background: rgb(40, 40, 40);
}
main .top-main {
  display: grid;
  grid-template-columns: 50% 50%;
}
main .top-main .top-main-l {
  background: white;
}
main .top-main .top-main-l .top-main-l-cont {
  margin: 15px;
  border: 1px dashed #a67245;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .top-main .top-main-l .top-main-l-cont h2 {
  margin: 50px auto 30px;
  font-size: 2rem;
  line-height: 15px;
}
main .top-main .top-main-l .top-main-l-cont h2 .p2 {
  font-size: 1.1rem;
  color: #21201e;
}
main .top-main .top-main-l .top-main-l-cont p {
  margin: 20px auto;
  color: #21201e;
  line-height: 23px;
}
main .top-main .top-main-l .top-main-l-cont .pic {
  margin: 20px auto;
  width: 70px;
}
main .top-main .top-main-l .top-main-l-cont .t1,
main .top-main .top-main-l .top-main-l-cont .t2 {
  font-weight: 600;
}
main .top-main .top-main-l .top-main-l-cont .t1 {
  letter-spacing: 1px;
}
main .top-main .top-main-l .top-main-l-cont .t2 {
  font-size: 0.8rem;
  color: #b6b6b6;
  text-transform: uppercase;
  margin: 5px auto 30px;
}
main .top-main .top-main-r {
  background: url(../img/store-01.jpg) center/cover;
}
main .mid-main {
  background: url(../img/bg-menu-01.jpg) no-repeat;
  background-position-y: bottom;
}
main .mid-main h2 {
  font-size: 2rem;
  margin: 50px auto 40px;
}
main .mid-main .mid-main-menu {
  margin: 0 auto;
  max-width: 50%;
  height: 1000px;
}
main .mid-main .mid-main-menu nav {
  height: 90px;
}
main .mid-main .mid-main-menu nav ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .mid-main .mid-main-menu nav ul li {
  padding-bottom: 8px;
  color: #eee;
  border-bottom: 1px solid #eee;
}
main .mid-main .mid-main-menu .mid-main-menu-cont {
  border-top: 5px solid #a67245;
  background: #eee;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, 1fr);
}
main .mid-main .mid-main-menu .mid-main-menu-cont div {
  display: grid;
  grid-template-columns: 30% 60% 10%;
  align-items: center;
  margin: 20px;
  height: 150px;
  border-bottom: 1px dashed #b6b6b6;
}
main .mid-main .mid-main-menu .mid-main-menu-cont div p {
  text-align: left;
  line-height: 25px;
}
main .mid-main .mid-main-menu .mid-main-menu-cont div p .dish-name {
  font-weight: 1000;
  font-size: 0.9rem;
  text-transform: uppercase;
}
main .mid-main .mid-main-menu .mid-main-menu-cont div .price {
  font-weight: 900;
  color: #a67245;
}
main .bot-main {
  margin: 0 auto;
  max-width: 65%;
  overflow: auto;
}
main .bot-main .bot-main-booking {
  margin: 60px auto;
  display: grid;
  grid-template-columns: 30% 70%;
}
main .bot-main .bot-main-booking .bot-main-booking-l {
  color: #eee;
  background: black;
}
main .bot-main .bot-main-booking .bot-main-booking-l div {
  margin: 20px;
  border: 1px dashed #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .bot-main .bot-main-booking .bot-main-booking-l div h2 {
  margin: 25px auto;
  line-height: 20px;
}
main .bot-main .bot-main-booking .bot-main-booking-l div h2 .p1 {
  font-size: 2.5rem;
  text-transform: none;
  font-weight: 100;
  font-family: Allura;
  color: #a67245;
}
main .bot-main .bot-main-booking .bot-main-booking-l div h2 .p2 {
  text-transform: uppercase;
  font-family: poppins;
  color: #eee;
  letter-spacing: 1px;
}
main .bot-main .bot-main-booking .bot-main-booking-l div img {
  margin: 10px auto;
}
main .bot-main .bot-main-booking .bot-main-booking-l div span {
  text-transform: uppercase;
  color: #a67245;
  font-weight: 800;
  margin: 30px auto;
  font-size: 1.2rem;
}
main .bot-main .bot-main-booking .bot-main-booking-l div p {
  width: 80%;
}
main .bot-main .bot-main-booking .bot-main-booking-r {
  color: #21201e;
  background: #eee;
  display: flex;
}
main .bot-main .bot-main-booking .bot-main-booking-r div {
  width: 80%;
  height: 80%;
  margin: auto;
}
main .bot-main .bot-main-booking .bot-main-booking-r div h2 {
  margin: 20px auto;
  line-height: 30px;
}
main .bot-main .bot-main-booking .bot-main-booking-r div h2 .p1 {
  font-size: 2.5rem;
}
main .bot-main .bot-main-booking .bot-main-booking-r div h2 .p2 {
  font-size: 1.7rem;
  letter-spacing: 1px;
  color: #21201e;
}
main .bot-main .bot-main-booking .bot-main-booking-r div img {
  margin: 20px auto;
}
main .bot-main .bot-main-booking .bot-main-booking-r div form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 100px;
  align-items: center;
  gap: 20px;
}
main .bot-main .bot-main-booking .bot-main-booking-r div form input,
main .bot-main .bot-main-booking .bot-main-booking-r div form select,
main .bot-main .bot-main-booking .bot-main-booking-r div form option {
  font-weight: 600;
  color: rgb(119, 119, 119);
  text-align: left;
  outline: none;
  height: 50px;
  background: none;
  border: none;
  border-bottom: 1px solid #b6b6b6;
}
main .bot-main .bot-main-booking .bot-main-booking-r div form #submit {
  letter-spacing: 5px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: #eee;
  background: #21201e;
  border: 1px solid #21201e;
  border-radius: 50px;
  grid-column: 2;
  grid-row: 3;
  cursor: pointer;
  transition: 0.2s;
}
main .bot-main .bot-main-booking .bot-main-booking-r div form #submit:hover {
  transform: translateX(5px);
  box-shadow: 1px 1px 7px 0px rgba(33, 32, 30, 0.6117647059);
}
main .bot-main h2 {
  margin: 30px auto 10px;
  line-height: 32px;
}
main .bot-main h2 .p1 {
  font-size: 2.2rem;
}
main .bot-main h2 .p2 {
  letter-spacing: 2px;
  font-size: 1.7rem;
}
main .bot-main img {
  margin: 20px auto;
}
main .bot-main .bot-main-event {
  margin: 0 auto 50px;
  display: grid;
  grid-template-columns: calc(60% - 20px) 40%;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
main .bot-main .bot-main-event .bot-main-event-1 {
  display: grid;
  grid-template-columns: 40% 60%;
  background: #eee;
}
main .bot-main .bot-main-event .bot-main-event-1 .bot-main-event-1-l {
  background: url(../img/event-01.jpg) center/cover no-repeat;
}
main .bot-main .bot-main-event .bot-main-event-1 .bot-main-event-1-l div {
  color: #eee;
  background: #21201e;
  height: 100px;
  width: 100px;
  margin: 70px auto;
}
main .bot-main .bot-main-event .bot-main-event-1 .bot-main-event-1-l div .part1 {
  font-weight: 1000;
  font-size: 2rem;
}
main .bot-main .bot-main-event .bot-main-event-2 {
  grid-row: 2;
  background: #eee;
}
main .bot-main .bot-main-event .bot-main-event-3 {
  grid-column: 2;
  background: #eee;
}/*# sourceMappingURL=index.css.map */