@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  background: grey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-align: center;
  font-family: roboto;
}

.p1 {
  font-weight: 100;
  font-family: Allura;
  color: #a67245;
}

.p2 {
  text-transform: uppercase;
  font-family: poppins;
  color: #eee;
}

.pic {
  border-radius: 150px;
}

header {
  background: url(../img/bg-slider-06.jpg) center/cover;
  height: 100vh;
  color: #eee;
}
header nav {
  margin: 0 auto;
  width: 80%;
  height: 70px;
}
header nav ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
header nav ul li {
  width: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-family: poppins;
  cursor: pointer;
}
header nav ul li:first-child {
  font-weight: 100;
  font-family: Allura;
  color: #a67245;
  text-transform: none;
  font-size: 3rem;
  color: #eee;
  font-weight: 800;
}
header nav ul li i {
  width: 100%;
  cursor: pointer;
}
header nav ul li i:hover {
  transform: scale(1.3);
}
header .header-cont {
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
header .header-cont h1 {
  font-size: 4rem;
  line-height: 45px;
}
header .header-cont h1 .p2 {
  letter-spacing: 15px;
}
header .header-cont img {
  margin: 70px auto 40px;
}
header .header-cont p {
  letter-spacing: 8px;
  font-weight: 100;
  font-size: 1rem;
  font-family: roboto;
  text-transform: uppercase;
}

main {
  background: rgb(40, 40, 40);
}

.top-main {
  display: grid;
  grid-template-columns: 50% 50%;
}
.top-main .top-main-l {
  background: white;
}
.top-main .top-main-l .top-main-l-cont {
  margin: 15px;
  border: 1px dashed #a67245;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-main .top-main-l .top-main-l-cont h2 {
  margin: 50px auto 30px;
  font-size: 2rem;
  line-height: 15px;
}
.top-main .top-main-l .top-main-l-cont h2 .p2 {
  font-size: 1.1rem;
  color: #21201e;
}
.top-main .top-main-l .top-main-l-cont p {
  margin: 20px auto;
  color: #21201e;
  line-height: 23px;
}
.top-main .top-main-l .top-main-l-cont .pic {
  margin: 20px auto;
  width: 70px;
}
.top-main .top-main-l .top-main-l-cont .t1 {
  letter-spacing: 1px;
}
.top-main .top-main-l .top-main-l-cont .t2 {
  font-size: 0.8rem;
  color: #b6b6b6;
  text-transform: uppercase;
  margin: 5px auto 30px;
}
.top-main .top-main-r {
  background: url(../img/store-01.jpg) center/cover;
}

.mid-main {
  background: url(../img/bg-menu-01.jpg) no-repeat;
  background-position-y: bottom;
}
.mid-main h2 {
  font-size: 2rem;
  margin: 50px auto 40px;
}
.mid-main .mid-main-menu {
  margin: 0 auto;
  max-width: 50%;
  height: 1000px;
}
@media screen and (max-width: 1700px) {
  .mid-main .mid-main-menu {
    max-width: 80%;
  }
}
.mid-main .mid-main-menu nav {
  height: 90px;
}
.mid-main .mid-main-menu nav ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mid-main .mid-main-menu nav ul li {
  padding-bottom: 8px;
  color: #eee;
  border-bottom: 1px solid #eee;
}
.mid-main .mid-main-menu .mid-main-menu-cont {
  border-top: 5px solid #a67245;
  background: #eee;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, 1fr);
}
.mid-main .mid-main-menu .mid-main-menu-cont div {
  display: grid;
  grid-template-columns: 30% 60% 10%;
  align-items: center;
  margin: 20px;
  height: 150px;
  border-bottom: 1px dashed #b6b6b6;
}
.mid-main .mid-main-menu .mid-main-menu-cont div p {
  text-align: left;
  line-height: 25px;
}
.mid-main .mid-main-menu .mid-main-menu-cont div p .dish-name {
  font-weight: 1000;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.mid-main .mid-main-menu .mid-main-menu-cont div .price {
  font-weight: 900;
  color: #a67245;
}

.bot-main {
  margin: 0 auto;
  overflow: auto;
}
.bot-main .bot-main-booking {
  max-width: 65%;
  margin: 60px auto;
  display: grid;
  grid-template-columns: 30% 70%;
}
@media screen and (max-width: 1300px) {
  .bot-main .bot-main-booking {
    display: block;
  }
}
.bot-main .bot-main-booking .bot-main-booking-l {
  color: #eee;
  background: black;
}
.bot-main .bot-main-booking .bot-main-booking-l div {
  margin: 20px;
  border: 1px dashed #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bot-main .bot-main-booking .bot-main-booking-l div h2 {
  margin: 25px auto;
  line-height: 20px;
}
.bot-main .bot-main-booking .bot-main-booking-l div h2 .p1 {
  font-size: 2.5rem;
  text-transform: none;
  font-weight: 100;
  font-family: Allura;
  color: #a67245;
}
.bot-main .bot-main-booking .bot-main-booking-l div h2 .p2 {
  text-transform: uppercase;
  font-family: poppins;
  color: #eee;
  letter-spacing: 1px;
}
.bot-main .bot-main-booking .bot-main-booking-l div img {
  margin: 10px auto;
}
.bot-main .bot-main-booking .bot-main-booking-l div span {
  text-transform: uppercase;
  color: #a67245;
  font-weight: 800;
  margin: 30px auto;
  font-size: 1.2rem;
}
.bot-main .bot-main-booking .bot-main-booking-l div p {
  width: 80%;
}
.bot-main .bot-main-booking .bot-main-booking-r {
  color: #21201e;
  background: #eee;
  display: flex;
}
.bot-main .bot-main-booking .bot-main-booking-r div {
  width: 80%;
  height: 80%;
  margin: auto;
}
.bot-main .bot-main-booking .bot-main-booking-r div h2 {
  margin: 20px auto;
  line-height: 30px;
}
.bot-main .bot-main-booking .bot-main-booking-r div h2 .p1 {
  font-size: 2.5rem;
}
.bot-main .bot-main-booking .bot-main-booking-r div h2 .p2 {
  font-size: 1.7rem;
  letter-spacing: 1px;
  color: #21201e;
}
.bot-main .bot-main-booking .bot-main-booking-r div img {
  margin: 20px auto;
}
.bot-main .bot-main-booking .bot-main-booking-r div form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 100px;
  align-items: center;
  gap: 20px;
}
.bot-main .bot-main-booking .bot-main-booking-r div form input,
.bot-main .bot-main-booking .bot-main-booking-r div form select,
.bot-main .bot-main-booking .bot-main-booking-r div form option {
  font-weight: 600;
  color: rgb(119, 119, 119);
  text-align: left;
  outline: none;
  height: 50px;
  background: none;
  border: none;
  border-bottom: 1px solid #b6b6b6;
}
.bot-main .bot-main-booking .bot-main-booking-r div form #submit {
  letter-spacing: 5px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: #eee;
  background: #21201e;
  border: 1px solid #21201e;
  border-radius: 50px;
  grid-column: 2;
  grid-row: 3;
  cursor: pointer;
  transition: 0.2s;
}
.bot-main .bot-main-booking .bot-main-booking-r div form #submit:hover {
  transform: translateX(5px);
  box-shadow: 1px 1px 7px 0px rgba(33, 32, 30, 0.6117647059);
}
.bot-main h2 {
  margin: 30px auto 10px;
  line-height: 32px;
}
.bot-main h2 .p1 {
  font-size: 2.2rem;
}
.bot-main h2 .p2 {
  letter-spacing: 2px;
  font-size: 1.7rem;
}
.bot-main img {
  margin: 20px auto;
}
.bot-main .bot-main-event {
  max-width: 65%;
  margin: 0 auto 50px;
  display: grid;
  grid-template-columns: calc(55% - 20px) 45%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "one three" "two three";
  gap: 20px;
}
@media screen and (max-width: 1300px) {
  .bot-main .bot-main-event {
    display: block;
  }
}
.bot-main .bot-main-event .bot-main-event-1 {
  grid-area: one;
  display: grid;
  grid-template-columns: 40% 60%;
  background: #eee;
}
.bot-main .bot-main-event .bot-main-event-1 .bot-main-event-1-l {
  background: url(../img/event-01.jpg) center/cover no-repeat;
}
.bot-main .bot-main-event .bot-main-event-1 .bot-main-event-1-l div {
  color: #eee;
  background: #21201e;
  height: 100px;
  width: 100px;
  margin: 70px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bot-main .bot-main-event .bot-main-event-1 .bot-main-event-1-l div p {
  line-height: 20px;
}
.bot-main .bot-main-event .bot-main-event-1 .bot-main-event-1-l div p .part1 {
  font-weight: 1000;
  font-size: 2rem;
}
.bot-main .bot-main-event .bot-main-event-1 .bot-main-event-1-r {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  line-height: 50px;
}
.bot-main .bot-main-event .bot-main-event-1 .bot-main-event-1-r h4 {
  margin-top: 10px;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 1.3rem;
}
.bot-main .bot-main-event .bot-main-event-1 .bot-main-event-1-r span {
  color: #b6b6b6;
  font-size: 0.9rem;
  letter-spacing: 1px;
}
.bot-main .bot-main-event .bot-main-event-1 .bot-main-event-1-r button {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: none;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
.bot-main .bot-main-event .bot-main-event-2 {
  grid-area: two;
  background: #eee;
  display: grid;
  grid-template-columns: 40% 60%;
  background: #eee;
}
.bot-main .bot-main-event .bot-main-event-2 .bot-main-event-2-l {
  background: url(../img/event-02.jpg) center/cover no-repeat;
}
.bot-main .bot-main-event .bot-main-event-2 .bot-main-event-2-l div {
  color: #eee;
  background: #21201e;
  height: 100px;
  width: 100px;
  margin: 70px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bot-main .bot-main-event .bot-main-event-2 .bot-main-event-2-l div p {
  line-height: 20px;
}
.bot-main .bot-main-event .bot-main-event-2 .bot-main-event-2-l div p .part1 {
  font-weight: 1000;
  font-size: 2rem;
}
.bot-main .bot-main-event .bot-main-event-2 .bot-main-event-2-r {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  line-height: 50px;
}
.bot-main .bot-main-event .bot-main-event-2 .bot-main-event-2-r h4 {
  margin-top: 10px;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 1.3rem;
}
.bot-main .bot-main-event .bot-main-event-2 .bot-main-event-2-r span {
  color: #b6b6b6;
  font-size: 0.9rem;
  letter-spacing: 1px;
}
.bot-main .bot-main-event .bot-main-event-2 .bot-main-event-2-r button {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: none;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
.bot-main .bot-main-event .bot-main-event-3 {
  grid-area: three;
  background: url(../img/event-03.jpg) center/cover;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.bot-main .bot-main-event .bot-main-event-3 .bot-main-event-3-cont {
  height: calc(100% - 60px);
  width: 100%;
  margin: 30px;
  background: #eee;
}
.bot-main .bot-main-event .bot-main-event-3 .bot-main-event-3-cont .bot-main-event-3-cont-date {
  color: #eee;
  background: #21201e;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bot-main .bot-main-event .bot-main-event-3 .bot-main-event-3-cont .bot-main-event-3-cont-date p {
  line-height: 20px;
}
.bot-main .bot-main-event .bot-main-event-3 .bot-main-event-3-cont .bot-main-event-3-cont-date p .part1 {
  font-weight: 1000;
  font-size: 2rem;
}
.bot-main .bot-main-event .bot-main-event-3 .bot-main-event-3-cont .bot-main-event-3-cont-txt {
  padding: 20px;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  line-height: 50px;
}
.bot-main .bot-main-event .bot-main-event-3 .bot-main-event-3-cont .bot-main-event-3-cont-txt h4 {
  margin-top: 10px;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 1.3rem;
}
.bot-main .bot-main-event .bot-main-event-3 .bot-main-event-3-cont .bot-main-event-3-cont-txt span {
  color: #b6b6b6;
  font-size: 0.9rem;
  letter-spacing: 1px;
}
.bot-main .bot-main-event .bot-main-event-3 .bot-main-event-3-cont .bot-main-event-3-cont-txt button {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: none;
  border: none;
  margin-top: 70px;
  cursor: pointer;
}
.bot-main .bot-main-quote {
  position: relative;
  height: 600px;
}
.bot-main .bot-main-quote div {
  position: relative;
  height: 300px;
  background: #eee;
  max-width: 65%;
  margin: 200px auto 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.bot-main .bot-main-quote div p {
  line-height: 30px;
  margin: 70px auto 20px;
  width: 90%;
}
.bot-main .bot-main-quote div .partie1 {
  margin: 10px auto;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.3rem;
}
.bot-main .bot-main-quote div .partie2 {
  margin: 10px auto 50px;
  color: #a67245;
}
.bot-main .bot-main-quote div:before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background: url(../img/avatar-02.jpg) center/cover;
  border-radius: 150px;
}
.bot-main .bot-main-quote:after {
  content: "";
  height: 350px;
  width: 100%;
  position: absolute;
  background: url(../img/gmap.jpg) center/cover;
  z-index: 1;
  left: 0;
  bottom: 0;
}

footer {
  height: 250px;
  background: url(../img/bg-footer.jpg) center/cover;
  color: #eee;
}
footer .footer-cont {
  margin: 0 auto;
  height: 100%;
  width: 65%;
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 0.8rem;
}
footer .footer-cont .footer-l {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 30px;
}
footer .footer-cont .footer-l h5 {
  font-size: 3rem;
  text-align: left;
}
footer .footer-cont .footer-l p {
  line-height: 30px;
  text-align: left;
}
footer .footer-cont .footer-r {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  text-transform: uppercase;
  font-weight: 600;
}
footer .footer-cont .footer-r form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}
footer .footer-cont .footer-r form label {
  text-align: left;
}
footer .footer-cont .footer-r form input {
  padding: 0 5px;
  outline: none;
  height: 30px;
  margin-top: 10px;
  text-align: left;
  width: 40%;
  color: #b6b6b6;
  background: none;
  opacity: 0.5;
  border: 1px solid #a67245;
}
footer .footer-cont .footer-r div {
  margin: 20px 0;
  text-align: left;
}
footer .footer-cont .footer-r div i {
  margin: 0 20px;
  color: #b6b6b6;
  cursor: pointer;
  transition: 0.2s;
}
footer .footer-cont .footer-r div i:hover {
  transform: scale(1.3);
}/*# sourceMappingURL=index.css.map */